<footer class="footer">
  <small>
    <%= link_to t("elearning"), "#" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), "#" %></li>
      <li><%= link_to t("contact"), "#" %></li>
    </ul>
  </nav>
</footer>
